{% extends "header.html" %}

{% load static %}

{% block bloglink %}<li class="active"><a href="/blog">Blog</a></li>{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}
	  <h1>{{ blog.title }}</h1>
      <p>{{ blog.pub_date }}</p>
      <hr />
      <br />
      <br />
      <p>{{ blog.body|safe }}</p>

      <div id="all_tags"><b>Tags:</b> </div>

      
      <img src="{% static '/images/email.png' %}" width="25px" height="25px" alt="email icon"> <img src="{% static '/images/tweet.png' %}" width="25px" height="25px" alt="twitter icon">
{% endblock %}

{% block js_content %}
      <!--script for tags-->
      <script type="text/javascript">
      	var tags = {{ blog.all_tags|safe }};
      	for (var i = 0; i < tags.length; i++) {
      		$("#all_tags").append('<a href="#">' + tags[i] + '</a>');
      		if(i != tags.length-1){
      			$("#all_tags").append(', ');
      		}
      	}
      </script>
{% endblock %}