<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}The Fifth Moon {% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="{% url 'homepage' %}">The Fifth Moon</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      {% block bloglink %}
		      	<li class="nav-item">
		      		<a class="nav-link" href="{% url 'allblogs' %}">Blog</a>
		      	</li>
		      {% endblock %}
		      {% block projectslink %}
		      	<li class="nav-item">
		      		<a class="nav-link" href="{% url 'projects' %}">Projects</a>
		      	</li>
		      {% endblock %}
		      {% block aboutlink %}
		      	<li class="nav-item">
		      		<a class="nav-link" href="{% url 'about' %}">About</a>
		      	</li>
		      {% endblock %}
		    </ul>
		</div>
		{% block search %}{% endblock %}
	</nav>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	{% block js_content %}{% endblock %}
</body>
</html>