{% extends "homepage/header.html" %}

{% load static %}

{% block bloglink %}<li class="nav-item active"><a class="nav-link" href="/blog">Blog</a></li>{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}
	<div class="container">
	  <h1>{{ blog.title }}</h1>
      <p>{{ blog.pub_date }}</p>
      <hr />
      <br />
      <p>{{ blog.body|safe }}</p>

      <div id="all_tags"><b>Tags:</b> </div>

      
      <b>Contact Me: <button type="button" class="btn btn-link"><a href="mailto:robertgarza.cs@gmail.com?subject=Re: {{ blog.title }}"><img src="{% get_static_prefix %}images/email.png" width="25px" height="25px" alt="email icon"></a></button> <button type="button" class="btn btn-link"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/RobertJoJoGarza"><img src="{% get_static_prefix %}images/tweet.png" width="25px" height="25px" alt="twitter icon"></a></button>
    </div>
{% endblock %}

{% block js_content %}
      <!--script for tags-->
      <script type="text/javascript">
      	var tags = {{ blog.all_tags|safe }};
      	for (var i = 0; i < tags.length; i++) {
      		$("#all_tags").append('<button type="button" class="btn btn-link"><a href="/blogs/tag/' + tags[i].replace(' ', '-') + '">' + tags[i] + '</a></button>');
      	}
      </script>
{% endblock %}