{% extends "homepage/header.html" %}

{% block title %}Blog{% endblock %}

{% block bloglink %}<li class="nav-item active"><a class="nav-link" href="/blog">Blog</a></li>{% endblock %}

{% block content %}
	<div class="container">
		{% for blog in blogs.all %}
		<div class="row">
			<div class="col-10">
				<div class="card">
				<div class="card-body">
				<div class="container">
				<div class="row">
				<div class="col-2">
					<a href="/blog/{{blog.title_slug}}"><img src="/static/images/{{ blog.get_image_name }}" class="img-thumbnail img-fluid rounded float-left" style="margin-right: 1em;" alt="topic image"></a>
				</div><!--/col-2-->
				<div class="col-10">
					<a href="/blog/{{blog.title_slug}}"><h5 class="card-title">{{ blog.title }}</a>
					{{ blog.pub_date_pretty }}</h5>
					<p class="card-text">{{ blog.summary|safe }} .....</p>	
				</div><!--/col-10-->
				</div><!--/row-->
				</div><!--/container-->
				</div><!--/card-body-->
				</div><!--/card-->			
			</div>
			<div class="col-2"></div>
		</div>
		{% endfor %}
	</div>
{% endblock %}