{% extends "homepage/header.html" %}

{% block title %}Blog{% endblock %}

{% block bloglink %}<li class="nav-item active"><a class="nav-link" href="{% url 'allblogs' %}">Blog</a></li>{% endblock %}

{% block search %}
	<form class="form-inline float-right" action="{% url 'blog_filter' %}" method="get">
	   <input class="form-control mr-sm-2 float-right" type="search" placeholder="Search" aria-label="Search" name="terms">
	   <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Search</button>
	</form>
{% endblock %}


{% block content %}

	<div class="container">
		{% for blog in blogs %}
		<div class="row">
			<div class="col-10">
				<div class="card">
				<div class="card-body">
				<div class="container">
				<div class="row">
				<div class="col-2">
					<a href="{% url 'blog_detail' blog.slug_name %}"><img src="/static/images/{{ blog.get_image_name }}" class="img-thumbnail img-fluid rounded float-left" style="margin-right: 1em;" alt="topic image"></a>
				</div><!--/col-2-->
				<div class="col-10">
					<a href="{% url 'blog_detail' blog.slug_name %}"><h5 class="card-title">{{ blog.title }}</a>
					{{ blog.pub_date_pretty }}</h5>
					<p class="card-text">{{ blog.summary|safe }} .....</p>	
				</div><!--/col-10-->
				</div><!--/row-->
				</div><!--/container-->
				</div><!--/card-body-->
				</div><!--/card-->			
			</div>
			<div class="col-2"></div>
		</div>
		{% endfor %}
	</div>

	{% if blogs.has_other_pages %}
	<br />
	<br />
	<div class="container">
		<ul class="pagination">
			{% if blogs.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{ blogs.previous_page_number }}">&laquo;</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
			{% endif %}
			{% for i in blogs.paginator.page_range %}
				{% if blogs.number == i %}
					<li class="page-item active"><a class="page-link" href="#" onclick="return false;">{{ i }} <span class="sr-only">(current)</span></a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
			{% if blogs.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
{% endblock %}